
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container {
    width: 1400px;
    background-color: cornsilk;
    margin: 0px auto;
    min-height: 900px;
}
nav {
    background-color: cadetblue;
}
.author {
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 24px;

}
footer {
    background-color: cadetblue;
    min-height: 63px;
    margin-top: 100%;
}
main {
    min-height: 900px;
}

.blockOne {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 1000px;
    background-color: burlywood;
}
.blockTwo {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
    height: 800px;
    background-color: burlywood;
}
.blockThree {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 900px;
    background-color: burlywood;
}
}
.topPicture {
    margin-top: -97px;
}

html {
    background-color: bisque;
}
.year {
    font-size: 60px;
}
